# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code

html=req.get(url).content



soup=bs(html, 'html.parser')

soup
type(soup)

bs4.BeautifulSoup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
#your code
soup1 = soup.find_all('h1', class_= 'h3 lh-condensed')
soup1b = soup.find_all('p', class_= 'f4 text-normal mb-1')

In [6]:
soup1b[0:2]

[<p class="f4 text-normal mb-1">
 <a class="Link--secondary" data-hydro-click='{"event_type":"explore.click","payload":{"click_context":"TRENDING_DEVELOPERS_PAGE","click_target":"OWNER","click_visual_representation":"TRENDING_DEVELOPER","actor_id":null,"record_id":1148717,"originating_url":"https://github.com/trending/developers","user_id":null}}' data-hydro-click-hmac="e63714fba102c81161256026f733701b107c533357596fd3a9b8b0ccdb58acba" data-view-component="true" href="/emilk">
               emilk
 </a> </p>,
 <p class="f4 text-normal mb-1">
 <a class="Link--secondary" data-hydro-click='{"event_type":"explore.click","payload":{"click_context":"TRENDING_DEVELOPERS_PAGE","click_target":"OWNER","click_visual_representation":"TRENDING_DEVELOPER","actor_id":null,"record_id":11875,"originating_url":"https://github.com/trending/developers","user_id":null}}' data-hydro-click-hmac="7418ce1c6b92d344ba71dffc35308095c8adce52909d446cb343377413f07831" data-view-component="true" href="/earlephilhower">
               earlephilhower
 </a> </p>]

In [7]:
soup1[0].text.strip()
attribute = soup1[0].a['href']
attribute

'/emilk'

In [8]:
soup1b[18].text.strip()

'adamchainz'

In [9]:
lista = []

for i in range (len(soup1)):
    nombre =  soup1[i].find('a').text.strip() + ' (' + soup1[i].a['href'].strip('/') + ')'
    lista.append(nombre)
    

lista

['Emil Ernerfeldt (emilk)',
 'Earle F. Philhower, III (earlephilhower)',
 'Nikita Sobolev (sobolevn)',
 'Stephen Celis (stephencelis)',
 'Justin Fagnani (justinfagnani)',
 'Manu MA (manucorporat)',
 'Joshua (minimalsm)',
 'Simon H (dummdidumm)',
 'Marcus Olsson (marcusolsson)',
 'Ben V. Brown (Ralim)',
 'Jonny Borges (jonataslaw)',
 'Andrew Kane (ankane)',
 'Wangchong Zhou (fffonion)',
 'Mislav Marohnić (mislav)',
 'Matthias Fey (rusty1s)',
 'Elliana May (Mause)',
 'Romain Beaumont (rom1504)',
 'Hari Sekhon (HariSekhon)',
 'osy (osy)',
 'Adam Johnson (adamchainz)',
 'Pedro Cuenca (pcuenca)',
 'Alex Gaynor (alex)',
 'Henrik Rydgård (hrydgard)',
 'Joshua Levy (jlevy)',
 'Mu Li (mli)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [11]:
#your code
html=req.get(url).content



soup2=bs(html, 'html.parser')

soup2
type(soup)

bs4.BeautifulSoup

In [12]:

soup2a = soup2.find_all('h1', class_= 'h3 lh-condensed')

In [13]:
soup2a[0].text.split()[-1]

'devops-exercises'

In [14]:
lista2 = [soup2a[i].text.split()[-1] for i in range(len(soup2a))]

lista2

['devops-exercises',
 'public-apis',
 'tinygrad',
 'mlflow',
 'PaddleDetection',
 'jax',
 'NostalgiaForInfinity',
 'netbox',
 'typer',
 'streamlit',
 'modelscope',
 'LearnPython',
 'nerfstudio',
 'algo-trader',
 'labelImg',
 'pyright',
 'sqlmap',
 'ivy',
 'slither',
 'yolov5',
 'core',
 'FreeInternet',
 'mmocr',
 'lightning',
 'content']

#### Display all the image links from Walt Disney wikipedia page

In [15]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

html=req.get(url).content



soup3=bs(html, 'html.parser')

soup3
type(soup3)

bs4.BeautifulSoup

In [16]:
soup3a = soup3.find_all('a', class_= 'image')

In [17]:
lista3 = [soup3a[i].img['src'] for i in range(len(soup3a))]
lista3

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [18]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [19]:
#your code



html=req.get(url).content



soup4=bs(html, 'html.parser')

soup4
type(soup4)

bs4.BeautifulSoup

In [20]:
soup4a = soup4.find_all('link')

In [21]:
lista4 = [soup4a[i].attrs['href'] for i in range(len(soup4a))]
lista4

['/w/load.php?lang=en&modules=ext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cskins.vector.styles.legacy%7Cwikibase.client.init&only=styles&skin=vector',
 '/w/load.php?lang=en&modules=site.styles&only=styles&skin=vector',
 '//upload.wikimedia.org',
 '//en.m.wikipedia.org/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/static/apple-touch/wikipedia.png',
 '/static/favicon/wikipedia.ico',
 '/w/opensearch_desc.php',
 '//en.wikipedia.org/w/api.php?action=rsd',
 'https://creativecommons.org/licenses/by-sa/3.0/',
 'https://en.wikipedia.org/wiki/Python',
 '//meta.wikimedia.org',
 '//login.wikimedia.org']

#### Number of Titles that have changed in the United States Code since its last release point

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [23]:
#your code
html=req.get(url).content



soup5=bs(html, 'html.parser')

soup5
type(soup5)

bs4.BeautifulSoup

In [24]:
soup5a = soup5.find_all('div', class_ = 'usctitlechanged')

len(soup5a)

9

#### A Python list with the top ten FBI's Most Wanted names

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [26]:
#your code 
html=req.get(url).content



soup6=bs(html, 'html.parser')

soup6
type(soup6)

bs4.BeautifulSoup

In [27]:
soup6a = soup6.find_all('h3', class_ = 'title')

lista6 = [soup6a[i].find('a').text for i in range(len(soup6a))]

lista6

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [131]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [132]:
#your code
html=req.get(url).content



soup10=bs(html, 'html.parser')

soup10
type(soup10)

bs4.BeautifulSoup

In [140]:
soup10a = soup10.find('tbody')

soup10b = soup10a.find_all('tr')

lista10 = [['date', 'time', 'latitude', 'longitude', 'region_name']]

for i in range(20):

    soup10b[i]
    dato = soup10b[i].find('td', class_="tabev6").find('a').text.replace('\xa0', ' ').split()
    latitude1 = soup10b[i].find('td', class_="tabev1").text.replace('\xa0', '')
    latitude2 = soup10b[i].find('td', class_="tabev2").text.replace('\xa0', '')
    latitude = latitude1 + latitude2
    dato.append(latitude)
    longitude1 = soup10b[i].find_all('td', class_="tabev1")[1].text.replace('\xa0', '')
    longitude2 = soup10b[i].find_all('td', class_="tabev2")[1].text.replace('\xa0', '')
    longitude = longitude1 + longitude2
    dato.append(longitude)
    region = soup10b[i].find('td', class_="tb_region").text.replace('\xa0', '')
    dato.append(region)
    lista10.append(dato)

In [141]:
lista10[:5]

[['date', 'time', 'latitude', 'longitude', 'region_name'],
 ['2022-11-08', '18:52:53.6', '39.12N', '0.31E', 'SPAIN'],
 ['2022-11-08', '18:51:47.3', '19.46N', '155.60W', 'ISLAND OF HAWAII, HAWAII'],
 ['2022-11-08', '18:34:53.2', '19.42N', '155.30W', 'ISLAND OF HAWAII, HAWAII'],
 ['2022-11-08', '18:28:25.5', '18.96N', '65.37W', 'PUERTO RICO REGION']]

In [142]:
import pandas as pd

col_names_terre=lista10[0]

data_terr=lista10[1:]

df_terre=pd.DataFrame(data_terr, columns=col_names_terre)

df_terre.head()

         date        time latitude longitude                   region_name
0  2022-11-08  18:52:53.6   39.12N     0.31E                         SPAIN
1  2022-11-08  18:51:47.3   19.46N   155.60W      ISLAND OF HAWAII, HAWAII
2  2022-11-08  18:34:53.2   19.42N   155.30W      ISLAND OF HAWAII, HAWAII
3  2022-11-08  18:28:25.5   18.96N    65.37W            PUERTO RICO REGION
4  2022-11-08  18:08:51.5   27.84N    15.36W  CANARY ISLANDS, SPAIN REGION

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

# NO EXISTE LA PÁGINA

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

# NO SE PUEDE HACER

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

# NO SE PUEDE HACER

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [29]:
#your code

html=req.get(url).content



soup7=bs(html, 'html.parser')

soup7
type(soup7)

bs4.BeautifulSoup

In [30]:
lang = 1

dictio7 = {}


while lang < 11:
    soup7a = soup7.find('div', class_ = f'central-featured-lang lang{lang}')
    k = soup7a.find('strong').text
    v = soup7a.find('bdi', dir='ltr').text.replace('\xa0', '').replace('+','')
    dictio7[k] = v
    lang += 1

dictio7

{'English': '6458000',
 '日本語': '1314000',
 'Español': '1755000',
 'Русский': '1798000',
 'Français': '2400000',
 'Deutsch': '2667000',
 'Italiano': '1742000',
 '中文': '1256000',
 'Português': '1085000',
 'العربية': '1159000'}

In [ ]:
# no tiene sentido que me intercambie en el último idioma el valor por la key

In [31]:
soup7a.find('strong').text

'العربية'

In [32]:
soup7a.find('bdi', dir='ltr').text.replace('\xa0', '').replace('+','')

'1159000'

#### A list with the different kind of datasets available in data.gov.uk

In [33]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [36]:
#your code 

html=req.get(url).content



soup8=bs(html, 'html.parser')

soup8
type(soup8)

bs4.BeautifulSoup

In [40]:
soup8a = soup8.find_all('h3', class_ = 'govuk-heading-s dgu-topics__heading')

lista8 = [i.text for i in soup8a]

lista8

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [50]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [51]:
#your code

html=req.get(url).content



soup9=bs(html, 'html.parser')

soup9
type(soup9)

bs4.BeautifulSoup

In [56]:
soup9a = soup9.find('table')

soup9a.find_all('tr')[0].text.split('\n')

['',
 'Language',
 '',
 'Native speakers(millions)',
 '',
 'Language family',
 '',
 'Branch',
 '']

In [58]:
filas=soup9a.find_all('tr')

filas=[f.text.strip().split('\n') for f in filas]

filas[:3]

[['Language',
  '',
  'Native speakers(millions)',
  '',
  'Language family',
  '',
  'Branch'],
 ['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)',
  '',
  '920',
  '',
  'Sino-Tibetan',
  '',
  'Sinitic'],
 ['Spanish', '', '475', '', 'Indo-European', '', 'Romance']]

In [60]:
filas=[[palabra for palabra in f if palabra!=''] for f in filas]

filas[:3]

[['Language', 'Native speakers(millions)', 'Language family', 'Branch'],
 ['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance']]

In [61]:
import pandas as pd

col_names=filas[0]

data=filas[1:]

df=pd.DataFrame(data, columns=col_names)

df.head()

,Language,Native speakers(millions),Language family,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",920,Sino-Tibetan,Sinitic
1,Spanish,475,Indo-European,Romance
2,English,373,Indo-European,Germanic
3,Hindi(excl. Urdu),344,Indo-European,Indo-Aryan
4,Bengali,234,Indo-European,Indo-Aryan

In [69]:
df = df[['Language', 'Native speakers(millions)']]

In [73]:
df['Native speakers(millions)'] = df['Native speakers(millions)'].astype(float)

In [77]:
df.sort_values(by= ['Native speakers(millions)'], axis = 0, ascending =False).head(10)

,Language,Native speakers(millions)
0,"Mandarin Chinese(incl. Standard Chinese, but e...",920.0
1,Spanish,475.0
2,English,373.0
3,Hindi(excl. Urdu),344.0
4,Bengali,234.0
5,Portuguese,232.0
6,Russian,154.0
7,Japanese,125.0
8,Yue Chinese(incl. Cantonese),85.2
9,Vietnamese,84.6

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code